@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 27px;

  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --shadow: hsl(220, 24%, 15%);
  --background: hsl(220, 22%, 16%);
}

body {
  background: var(--background);
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  margin: 0;
}

/*
* Containers
*/
.container {
  display: flex;
  min-height: 100vh;
  padding: 20px 0;
}

.advice-generator {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-grayish-blue);
  border-radius: 15px;
  box-shadow: 0px 30px 30px -10px var(--shadow);
  margin: auto;
  max-width: 540px;
  padding: 40px 45px 0;
  width: 100%;
}

h1 {
  color: var(--neon-green);
  font-size: 13px;
  letter-spacing: 4px;
  margin-bottom: 0;
  text-transform: uppercase;
}

p {
  color: var(--light-cyan);
  text-align: center;
}

button {
  background-color: var(--neon-green);
  background-image: url("./images/icon-dice.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 31px;
  cursor: pointer;
  height: 62px;
  padding: 0;
  position: relative;
  top: 31px;
  width: 62px;
}

button:hover {
  box-shadow: 0px 0px 30px 5px var(--neon-green);
}

/*
* Footer
*/
.attribution {
  color: var(--light-cyan);
  font-size: 11px;
  margin-bottom: 10px;
  text-align: center;
}

.attribution a {
  color: var(--white);
}

.attribution a:hover {
  color: var(--neon-green);
}
