@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 24px;
  --strong-cyan: hsl(172, 67%, 45%);
  --light-cyan: hsl(173, 61%, 77%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --very-dark-cyan-2: hsl(185, 20%, 33%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan-2: hsl(189, 41%, 97%);
  --orange: #d47d5f;
  --white: hsl(0, 0%, 100%);
  --shadow: hsl(187, 40%, 76%);
}

body {
  background: var(--light-grayish-cyan);
  font-family: "Space Mono", "Courier New", Courier, monospace;
  margin: 0;
}

/*
* Containers
*/
.container {
  display: flex;
  margin: auto;
  min-height: 100vh;
  padding: 20px 0;
}

.tip-calculator__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.tip-calculator {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 0px 30px 30px -10px var(--shadow);
  margin: auto;
  max-width: 920px;
  padding: 32px;
  width: 100%;
}

.tip-calculator section {
  flex-basis: 50%;
}

/*
* Header
*/
h1 {
  color: var(--very-dark-cyan-2);
  font-size: 24px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  max-width: 100px;
  text-transform: uppercase;
  word-wrap: break-word;
}

/*
* Input styles
*/
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.input-group:last-of-type {
  margin-bottom: 0;
}

label {
  color: var(--dark-grayish-cyan);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

input {
  background-color: var(--light-grayish-cyan-2);
  background-position: 15px center;
  background-repeat: no-repeat;
  border: 0;
  border: 2px solid var(--light-grayish-cyan-2);
  border-radius: 6px;
  color: var(--very-dark-cyan);
  font-size: 24px;
  font-family: inherit;
  font-weight: 700;
  padding: 3px 15px 3px 35px;
  text-align: right;
  width: 100%;
}

::placeholder {
  color: var(--dark-grayish-cyan-2);
}

input:focus {
  border: 2px solid var(--strong-cyan);
  outline: none !important;
}

input[name="bill"] {
  background-image: url("./images/icon-dollar.svg");
}

input[name="number-of-people"] {
  background-image: url("./images/icon-person.svg");
}

.tip-amounts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 17px 14px;
  margin-top: 8px;
}

.tip-amounts__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-cyan);
  border: 0;
  border-radius: 6px;
  color: var(--light-grayish-cyan-2);
  cursor: pointer;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
}

.tip-amounts__button:hover,
.tip-amounts__custom:hover,
.tip-amounts__custom:hover::placeholder {
  background-color: var(--light-cyan);
  color: var(--very-dark-cyan);
}

.tip-amounts__button.active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-amounts__custom {
  cursor: pointer;
  padding: 5px;
  text-align: center;
}

.tip-amounts__custom:focus:hover,
.tip-amounts__custom:focus:hover::placeholder {
  background-color: var(--light-grayish-cyan-2);
}

.tip-amounts__custom:hover::placeholder {
  cursor: auto;
}

.tip-amounts__custom::placeholder {
  color: var(--dark-grayish-cyan);
}

.tip-amounts__custom:focus::placeholder {
  color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*
* Validation error styles
*/
.validation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input.has-error {
  border: 2px solid var(--orange);
}

.error-message {
  color: var(--orange);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: right;
}

.display {
  background-color: var(--very-dark-cyan);
  border-radius: 15px;
}

/*
* Footer
*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
* Media queries
*/
@media (min-width: 650px) {
  .container {
    padding: 70px 20px;
  }

  h1 {
    margin-bottom: 80px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
    padding: 0px 15px;
  }

  .tip-calculator {
    flex-direction: row;
  }
}

@media (min-width: 800px) {
  .validation-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .tip-amounts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
